.navbar{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
}

.btn{
    border: none;
}

body{
    background: url(../public/gallery1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    backdrop-filter: blur(3px);
    background-position: center center;
    background-attachment: fixed;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#restaurant-list {
    display: flex;
    flex-wrap: wrap;
    padding:0%;
}

.card-group{
    height: 250px;
    margin: 2px;
    width: 250px;
    position: relative;
    text-align: center;
    border: none;
    flex-wrap: nowrap;
}
#mainContent {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 30px;
}
#mapContainer { 
    width: 60%;
    height: 50vh; 
}

.card {
    background-color: transparent;
}

.card > a > img{
    height: 250px;
    width: 250px;
}

li {
    list-style: none;
}
.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 770px) {
    #mapContainer {
      width: 100%;
    }
    .navbar-nav {
        position: absolute;
        margin-top: 70px;
    }
    #mainContent {
        margin-top: 40px;
        border-radius: 0;
    }
  }