.navbar{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
}

.btn{
    background-color: rgb(99, 204, 99);
    border: none;
}

body{
    background: url(../public/gallery1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    backdrop-filter: blur(3px);
    background-position: center center;
    background-attachment: fixed;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#mapContainer { 
    width: 30%;
    height: 50vh; 
}